* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: brands;
    src: url(../fonts/fontawesome-free-5.15.3-web/webfonts/fa-brands-400.ttf);
}

.icons >*{
    width: 3.8125rem;
    height:3.8125rem;
    border: solid black;
    cursor: pointer;
}

/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}
.justify-content{
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* list helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


