/* FONTS */

@font-face {
    font-family: Montserrat-regular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

* {
    box-sizing: border-box;
}

/* BASE */
html {
    font-family: Montserrat-regular;
}

body {
    margin: 0;
    background-color: #E3E3E3;
}

a {
    text-decoration-line: none;
    color: #FFFFFF;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

button {
    margin: 0
}

img {
    width: 100%;
    object-fit: cover;
}

/* components */

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 13px 13px;
}

.img-grid {
    cursor: pointer;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 24px;
    margin-top: 24px;
}

.main-header {
    font-family: Montserrat-regular;
    height: 66px;
    background-color: #FF7F00;
    position: sticky;
    top: 0;
}

/* MEME EDITOR */

.meme-editor {
    display: none;
    justify-content: space-around;
    margin: 0 auto;
    padding: 50px;
}


.editor-container {
    padding: 20px 50px;
    height: 500px;
}

.editor-icons {
    height: 100%;
    flex-direction: column;
    margin-inline-start: 50px;
}

.meme-text {
    margin-block-end: 20px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    top: 0;
}

.icons>* {
    margin-block-end: 20px;
}

.icon-btn {
    background-color: #fff;
    border-radius: 10px;
    margin-inline-start: 10px;
    padding: 5px;
    width: 3.8125rem;
    height: 3.8125rem;
    cursor: pointer;
    margin-block-end: 20px;
}

#text-color {
    position: absolute;
    opacity: 0;
    width: 61px;
    height: 61px;
    cursor: pointer;
}

.btn-color {
    border: none;
    background-color: white;
    display: none;
}

.line-one,
.line-three {
    margin-inline-start: 50px;
}

.editor-btn>* {
    margin-inline-start: 50px;
}

.editor-btn a {
    background-color: #FF7F00;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.logo {
    width: 133px;
    height: 22px;
}

.logo-footer {
    margin-bottom: 16px;
}

.main-nav a {
    margin-inline-end: 29px;
}

.search-nav {
    background-color: white;
    height: 90px;
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    background-color: #E3E3E3;
    border-radius: 10px;
    border: 0;
    border-bottom: 2px solid rgb(141, 133, 133);
}

.search-img {
    width: 20px;
    margin-left: 15px;
}

.main-footer {
    height: 208px;
    background-color: #FF7F00;
    flex-direction: column;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.1875rem;
    bottom: 0;
}

.about {
    height: 500px;
    background-color: #FFFFFF;
}

.about-content {
    width: 892px;
    margin: 0 auto;
}

.my-img {
    border-radius: 50%;
    object-fit: cover;
    width: 323px;
    height: 323px;
}

.my-name {
    font-family: Montserrat-bold;
    margin-bottom: 7px;
}

.about-txt {
    flex-direction: column;
    margin-left: 41px;
}

.btn-menu {
    display: none;
}

/* HELPERS */

.container {
    width: 1200px;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* mobile */

@media (max-width:530px) {

    .btn-menu {
        display: block;
        outline: none;
        background-color: transparent;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 40px;
        cursor: pointer;
    }

    .main-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 50%);
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
    }

    body.menu-open .main-screen {
        pointer-events: auto;
        opacity: 1;
    }

    .main-nav {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        align-items: center;
        height: 100vh;
        background-color: #FF7F00;
        width: 150px;
        line-height: 80px;
        transform: translateX(100%);
        transition: transform .4s;
        box-shadow: -4px 3px 5px 0px rgb(7 7 7 / 64%);
    }

    body.menu-open .main-nav {
        transform: translateX(0);
    }

    .main-nav a {
        margin-inline-end: 0px;
    }

    /* Footer */

    .about-content {
        flex-direction: column
    }

    .my-img {
        padding: 20px;
    }

    .about-txt {
        text-align: center;
        margin: 0;
        margin: 0 7px;
    }

    .my-name {
        font-size: 20px;
        color: #FF7F00;
    }

    /* meme editor */

    canvas {
        width: 350px;
        height: 350px;
    }

    .meme-editor {
        display: none;
        justify-content: space-around;
        padding: 5px;
    }

    .editor-container {
        flex-direction: column;
        height: 750px;
        padding: 0;
    }

    .editor-icons {
        height: 100%;
        flex-direction: column;
        margin-inline-end: 50px;
    }

    .meme-text {
        width: 100%;
        margin-block-end: 10px;
        border-radius: 5px;
        padding: 7px;
        border: none;
    }

    .main-container {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .image-gallery {
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 250px));
        gap: 10px 10px;
        padding: 0 10px;
    }

}